@import url('style.css');
.signupLink{
    
    outline:none!important;
    text-decoration:none!important;
}
    .signupLink:hover {
        outline: none!important;
        text-decoration: none!important;
    }
.fa-brands{
    width:40px;
}
